In [1]:
import numpy as np
import pandas as pd

In [2]:
# for purposes of initial planning, let's go with utterances.csv for now
df1 = pd.read_csv('utterances.csv')
df2 = pd.read_csv('utterances-2sp.csv')

In [6]:
# check columns and shape
df1.columns, df2.columns, df1.shape, df2.shape

(Index(['episode', 'episode_order', 'speaker', 'utterance'], dtype='object'),
 Index(['episode', 'episode_order', 'turn_order', 'speaker_order', 'host_id',
        'is_host', 'utterance'],
       dtype='object'),
 (3199858, 4),
 (1240112, 7))

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199858 entries, 0 to 3199857
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   episode        int64
 1   episode_order  int64
 2   speaker        object
 3   utterance      object
dtypes: int64(2), object(2)
memory usage: 97.7+ MB

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240112 entries, 0 to 1240111
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   episode        1240112 non-null  int64
 1   episode_order  1240112 non-null  int64
 2   turn_order     1240112 non-null  int64
 3   speaker_order  1240112 non-null  int64
 4   host_id        1240112 non-null  int64
 5   is_host        1240112 non-null  bool
 6   utterance      1240112 non-null  object
dtypes: bool(1), int64(5), object(1)
memory usage: 58.0+ MB

In [39]:
df1.head()

,episode,episode_order,speaker,utterance
0,57264,9,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...","It's a 2,200-mile race. To give some sense of ..."
1,57264,10,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...",So for a top competitor like Lance to try to m...
2,57264,11,"NEAL CONAN, host","So in every team, presumably there's one star,..."
3,57264,12,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...",That's right. Each team has nine riders. And w...
4,57264,13,"NEAL CONAN, host","So slipstream, this is like drafting in car ra..."

In [40]:
df2.tail()

,episode,episode_order,turn_order,speaker_order,host_id,is_host,utterance
1240107,141179,21,1,1,-1,False,It's an interesting city and it's so charming ...
1240108,141179,22,0,0,34,False,"Thank you, Ms. Deluca."
1240109,141179,23,0,1,-1,False,Thank you so much.
1240110,141179,24,0,0,34,False,Isabelle Deluca.
1240111,141179,24,1,0,34,False,"She works for the newspaper ""Jornal do Brazil""..."

In [43]:
df1.speaker.value_counts()

NEAL CONAN, host              206098
_NO_SPEAKER                   184423
IRA FLATOW, host               58292
NEAL CONAN, HOST               43533
FARAI CHIDEYA, host            36653
                               ...
Ms. VANDERMEER                     1
Mr. JIM KITTY (Fire Chief)         1
ROGER IRVING                       1
ROXANNE GORMAN                     1
JOSEPH FISHKIN                     1
Name: speaker, Length: 184963, dtype: int64

In [45]:
df1.episode.nunique()

104920